* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font: 100%/1.5em Arial, Helvetica, sans-serif;
    color: #000;
    background: #000;
}

input,
button {
    outline: none;
    border: none;
}

h1, h2, h3 {
    text-align: center;
    margin: .5em 0;
    padding: 0 .7em;
}

h2, h3 {
    color: #fff;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

input[type="submit"] {
    cursor: pointer;
}

/*fluid grid*/
.container {
    width: 100%;
    margin: 0 auto;
}

.container .cols {
    float: left;
    margin: 0 0 1em;
}

.container .cols[class*="col-"] {
    width: 100%;
}

/*clearfix*/
.clearfix:after,
.container:after,
.row:after,
.input-block:after,
.input-inline-block:after {
    content: "";
    display: block;
    clear: both;
}

.hidden {
    display: none;
}

.error-message {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

/*fluid grid end*/
.text-justify {
    text-align: justify;
}

#wrapper {
    width: 95%;
    max-width: 1140px;
    min-width: 280px;
    margin: 0 auto;
    background: #510101;
    overflow: auto;
}

header {
    background: -webkit-linear-gradient(bottom, #510101, #121b9b);
    background: linear-gradient(0deg, #510101, #121b9b);
    padding: .5em;
}

header h1 {
    display: none;
    font-weight: bold;
    color: #ba880b;
    font-size: 3em;
}

.logo {
    float: left;
}

.logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo-img {
    width: 130px;
    height: 112px;
    background: url(../img/casino-logo.gif) no-repeat;
    background-size: contain;
}

.lang {
    float: right;
    font-size: 0;
}

.lang a {
    display: inline-block;
    width: 46px;
    height: 32px;
    background-image: url(../img/flags.png);
    background-repeat: no-repeat;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.lang a:last-child {
    margin-left: 10px;
}

.lang a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.rus {
    background-position: 0 0;
}

.eng {
    background-position: -46px 0;
}

.nav {
    position: relative;
    margin: 0 0 1em;
}

.nav button,
.nav a {
    padding: .25em;
}

.top-menu,
.menu-btn,
.menu-btn-hide {
    display: block;
    width: 100%;
    background: #023d13;
    border: .2em outset #08d642;
    color: #08d642;
    font-size: 1.2em;
    font-weight: bold;
}

.top-menu,
.menu-btn-hide {
    display: none;
}

.top-menu ul {
    top: 0;
    left: 0;
}

.menu-btn-hide {
    top: 0;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.top-menu a {
    display: block;
    color: #08d642;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.top-menu a:hover {
    color: #023d13;
    background-color: #08d642;
}

/*menu hardcode: for mobile normal support without js*/
.menu-btn:hover,
.menu-btn:active,
.menu-btn:focus,
.menu-btn-hide:hover,
.menu-btn-hide:active,
.menu-btn-hide:focus {
    cursor: pointer;
    border-style: inset;
    color: #023d13;
    background-color: #08d642;
}

.menu-btn:hover ~ .top-menu,
.menu-btn:active ~ .top-menu,
.menu-btn:focus ~ .top-menu,
.menu-btn:hover ~ .menu-btn-hide,
.menu-btn:active ~ .menu-btn-hide,
.menu-btn:focus ~ .menu-btn-hide,
.top-menu:hover,
.top-menu:active,
.top-menu:focus,
.top-menu:hover ~ .menu-btn-hide,
.top-menu:active ~ .menu-btn-hide,
.top-menu:focus ~ .menu-btn-hide {
    display: block;
}

.menu-btn-hide:active .top-menu,
.menu-btn-hide:focus .top-menu,
.menu-btn-hide:active,
.menu-btn-hide:focus {
    display: none;
}

/*menu hardcode end*/

.left-bar {

}

.left-menu {
    margin: 0 0 1em;
}

.left-menu ul li a {
    display: block;
    padding: .3em;
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #aa0000;
    border-bottom: .15em solid #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.left-menu li a:hover {
    background-color: #ff0000;
    border-color: #ff0000;
}

::-webkit-input-placeholder {
    color: #000;
}

.login {
    padding: 0 3em;
}

.login input {
    width: 100%;
    padding: .5em;
    margin: 1em 0 0;
    background-color: #ccc;
}

.login input[name="email"] {
    margin: 0;
}

.login input[type="submit"] {
    font-size: .85em;
    font-weight: bold;
    padding: .3em;
    border-radius: .5em;
    cursor: pointer;
}

.login input:hover,
.login input:focus {
    background-color: #fff;
}

.custom-link {
    text-align: center;
}

.custom-link a {
    color: #ccc;
}

.custom-link a:hover {
    color: #ff0000;
    text-decoration: underline;
}

div.user-block {
    color: #fff;
    padding: 1em;
}

.content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.content ul li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 18em;
    flex: 1 1 18em;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

.content ul li:hover {
    background: #910101;
}

.content ul li p.news-text {
    padding: 0 .7em;
    text-align: justify;
    text-indent: 1em;
}

.content h3 {
    font-size: 1.5em;
}

.content img {
    height: 15em;
}

.content details a {
    color: #999;
}

.content details a:hover {
    color: #bbb;
    text-decoration: underline;
}

summary::-webkit-details-marker {
    display: none;
}

.content summary {
    outline: none;
}

.content summary:hover {
    cursor: pointer;
}

.content p {
    margin: 0;
}

footer {
    padding: 1.5em;
    border-top: 2px solid #000;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #121b9b, #510101);
    background: linear-gradient(0deg, #121b9b, #510101);
}

footer p {
    margin: 0;
}

footer p a {
    font-size: 24px;
    color: #fff;
}

/*registration*/
.register-form {
    padding: 3em 3em .5em;
}

.input-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 0 1em;
    color: #fff;
    text-align: center;
}

.input-inline-block {
    margin: 0 0 1em;
    color: #fff;
    text-align: center;
}

.register-form label,
.register-form input {
    display: block;
}

.register-form label {
    color: #ccc;
}

.register-form input {
    padding: .5em;
    background-color: #ccc;
}

.register-form label.required::after {
    content: "*";
    color: #ccc;
    display: inline;
}

.register-form input[type="submit"] {
    font-size: 1em;
    font-weight: bold;
    margin: 2em 20% 0;
    padding: .3em;
    border-radius: .5em;
    cursor: pointer;
}

.register-form input:hover,
.register-form input:focus {
    background-color: #fff;
}

.register .custom-button {
    margin: .5em 20%;
}

.player-profile button.change {
    font-size: .5em;
    font-weight: bold;
    margin: 0 0 0 .5em;
    padding: .3em;
    border-radius: .3em;
    background-color: #ccc;
    cursor: pointer;
}

.player-profile button.change:hover,
.player-profile form input:hover {
    background-color: #fff;
}

.player-profile form input {
    font-size: .7em;
    padding: .3em;
    margin: .2em;
    background-color: #ccc;
    border-radius: .3em;
}

.player-profile form input:not([type="submit"]) {
    width: 12em;
}

.player-profile form input[type="submit"] {
    cursor: pointer;
}

.player-profile > form {
    width: 100%;
}

.player-profile button#change-password.change,
.player-profile > form input {
    font-size: .7em;
    display: block;
    margin: .5em auto;
    padding: .5em;
}

.player-profile button#change-password.change {
    font-size: 1em;
}

.player-profile > form input[type="password"] {
    width: 80%;
}

.player-profile > form input[type="submit"] {
    width: 60%;
}

.custom-dl {
    margin: 0 auto;
    max-width: 40em;
    font-size: 1em;
    color: #fff;
}

.custom-dl dt,
.custom-dl dd {
    display: inline-block;
    width: 45%;
}

.custom-dl dt {
    margin: 0 1em 0 0;
    text-align: right;
    font-weight: bold;
    color: #ccc;
}

.custom-dl dt::after {
    content: ":";
}

.custom-dl dd {
    margin: 0 0 1em;
}

div.custom-button {
    font-size: 1em;
    font-weight: bold;
    margin: 2em 20%;
    padding: .3em;
    border-radius: .5em;
    background-color: #ccc;
    cursor: pointer;
}

div.custom-button a {
    display: block;
    text-align: center;
}

div.custom-button:hover,
div.custom-button:focus {
    background-color: #fff;
}

.custom-form {
    display: block;
    margin: 0 auto;
}

.custom-form input,
.custom-form textarea,
.custom-form select {
    display: block;
    font-size: 1em;
    padding: .5em;
    margin: .5em auto;
    border-radius: .5em;
    background: #ccc;
    outline: none;
}

.custom-form input:hover,
.custom-form textarea:hover,
.custom-form textarea:active,
.custom-form textarea:focus {
    background: #fff;
}

.custom-form textarea {
    width: 80%;
}

.custom-form input:not([type="submit"]) {
    width: 80%;
}

.custom-form input[type="submit"] {
    width: 60%;
}

.custom-checkbox {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.custom-checkbox + label {
    cursor: pointer;
}

.custom-checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

.custom-checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}

.custom-checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #cdd1da;
    border-radius: 50%;
    background: #fff;
}

.custom-checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9FD468;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .2s;
}

.custom-checkbox:checked + label:after {
    opacity: 1;
}

.table-section {
    overflow: auto;
}

.custom-table {
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: #555;
    border-collapse: collapse;
    overflow: auto;
}

.custom-table caption {
    font-size: 1.5em;
    padding: 1em 1em .5em;
}

.custom-table th {
    background: #333;
}

.custom-table th.col-rolls {
    width: 80%;
}

.custom-table th.col-roll {
    width: 8%;
}

.custom-table th.col-date,
.custom-table th.col-attr {
    width: 10%;
}

.custom-table,
.custom-table tbody,
.custom-table th {
    border: .2em solid #888;
}

.custom-table th {
    color: #ccc;
    padding: .7em;
}

.custom-table td {
    padding: .25em;
    border: .1em solid #888;
}

.player-stats dt {
    width: 65%;
}

.player-stats dd {
    width: 25%;
}

.verify-button {
    display: inline-block;
    margin: .3em;
}

.verify-button a {
    color: #f00;
}

.warning {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    padding: .5em;
    margin: 0 auto;
    width: 80%;
}

.warning p {
    margin: .3em;
}

.scan {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}

.scan img {
    width: 100%;
    border-radius: 1em;
    margin: .5em;
}

.inline-option-form input[type="submit"] {
    text-align: center;
    width: 25%;
    padding: .3em;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.inline-option-form select.rate-select#rate-select {
    font-size: 1em;
    width: 65%;
    height: 2em;
    background: #ccc;
    outline: none;
    cursor: pointer;
}

.reset-ref {
    font-size: 1em;
    color: #f00;
    margin-left: .5em;
}

.satisfaction-header {
    min-width: 6em;
}

.manage-news ul {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.manage-news ul li {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 0 1em;
    color: #fff;
    text-align: center;

}

.edit-block input {
    color: #000;
}

.edit-block time {
    width: 100%;
}

.edit-block > *:not([class="hidden edit-news"]) {
    display: inline-block;
}

.edit-block > button {
    font-size: 1em;
    padding: .25em;
    cursor: pointer;
}

.edit-block img,
.edit-block p {
    width: 90%;
}

.edit-news input:not([type="submit"]),
.edit-news textarea {
    font-size: 1em;
    width: 80%;
    padding: .5em;
    margin: .5em auto;
    border-radius: .5em;
    background: #ccc;
    outline: none;
}

.edit-news input[type="submit"] {
    font-size: 1em;
    border-radius: 50%;
    padding: .5em;
}

.edit-news input:hover,
.edit-news textarea:hover {
    background: #fff;
}

select.rate-select#rate-select:hover,
.inline-option-form input[type="submit"]:hover {
    background: #fff;
}

.manage-support h3 {
    color: #fff;
    text-decoration: underline;
}

/*rules*/
.rules {
    color: #fff;
    padding: 0 1.5em;
}

.rules p {
    text-indent: 1.5em;
    text-align: justify;
    margin: .5em 0;
}

div.rules-table-container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.rules-table {
    min-width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}

.rules-table th {
    font-weight: bold;
    padding: .5em;
    border: 2px solid #f5deb3;
}

.rules-table td {
    padding: .25em;
    text-align: center;
    border: 1px solid #f5deb3;
    border-left-width: 2px;
    border-right-width: 2px;
}

.rules dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.rules dt::after {
    padding-left: 8px;
    content: "-";
}

.rules dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

.rules li {
    margin-left: 3em;
    list-style: circle;
}

.with-comment::after {
    content: '*';
}

.comment::before {
    content: '*';
}

/*range*/
[id^=slider-range] {
    width: 80%;
    align-self: center;
}

.range-input {
    text-align: center;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-content {
    background: rgba(255, 0, 0, 0.8);
}

.ui-widget-header {
    background: #ab0000;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider-handle {
    outline: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    border: none;
    background: #ff0000;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background: #ff0000;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover {
    border: none;
    background: rgba(220, 0, 0, 1);
}

/*error pages*/
ul.error-paragraph {
    margin: 0 auto;
    max-width: 80%;
    color: #fff;
}

/*tablets and big landscape mobiles*/
@media only screen and (min-width: 640px) {
    body {
        background: fixed url(../img/mainback-big.jpg) top center no-repeat #000;
    }

    header h1 {
        display: inline;
    }

    /*fluid grid*/
    .container .cols.col-4 {
        width: 40%;
    }

    .container .cols.col-8 {
        width: 60%;
    }
}

/*laptops and big landscape tablets*/
@media only screen and (min-width: 769px) {
    /*fluid grid*/
    .container .cols.col-1 {
        width: calc(1 / 12 * 100%);
    }

    .container .cols.col-2 {
        width: calc(2 / 12 * 100%);
    }

    .container .cols.col-3 {
        width: 25%;
    }

    .container .cols.col-4 {
        width: calc(4 / 12 * 100%);
    }

    .container .cols.col-5 {
        width: calc(5 / 12 * 100%);
    }

    .container .cols.col-6 {
        width: 50%;
    }

    .container .cols.col-7 {
        width: calc(7 / 12 * 100%);
    }

    .container .cols.col-8 {
        width: calc(8 / 12 * 100%);
    }

    .container .cols.col-9 {
        width: 75%;
    }

    .container .cols.col-10 {
        width: calc(10 / 12 * 100%);
    }

    .container .cols.col-11 {
        width: calc(11 / 12 * 100%);
    }

    .container .cols.col-12 {
        width: 100%;
    }

    .menu-btn {
        display: none;
    }

    .top-menu {
        display: block;
    }

    .top-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .top-menu ul li {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        cursor: pointer;
    }

    .top-menu:hover ~ .menu-btn-hide,
    .top-menu:active ~ .menu-btn-hide,
    .top-menu:focus ~ .menu-btn-hide {
        display: none;
    }

    .custom-dl {
        font-size: 1.5em;
    }
}

/*big screens*/
@media only screen and (min-width: 1024px) {
    .container .cols.col-4 {
        width: 25%;
    }

    .container .cols.col-8 {
        width: 75%;
    }

    .player-stats dt,
    .player-stats dd {
        width: 45%;
    }
}